@import "tailwindcss";

#root {
  /* max-width: 1300px; */
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dark .rc-pagination-options-quick-jumper input {
  background-color: #243142;
  border-color: #243142;
}

.dark .rc-pagination-item-active a {
  color: black !important;
}
.dark .rc-pagination-item-active {
  background-color: #c3d1e5 !important;
  border-color: #c3d1e5 !important;
}

.dark .rc-pagination-item-active:focus .rc-pagination-item-active:hover {
  background-color: #243142;
  color: #000;
  border-color: #243142;
}
.dark .rc-pagination-item {
  background-color: #243142;
  color: #ffff;
  border: none;
}
.dark .rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: black;
}
.dark .rc-pagination-item a {
  color: #ffff;
}
.dark .rc-pagination-item:focus {
  background-color: #243142;
  color: #ffff;
  border-color: #243142;
}
.dark .rc-pagination-disabled {
  background-color: #243142;
  color: #ffff;
  border-color: #243142;
}
.dark .rc-pagination-prev .rc-pagination-item-link {
  background-color: #243142;
  color: #ffff;
  border-color: #243142;
}
.dark .rc-pagination-prev:hover .rc-pagination-item-link {
  background-color: #243142;
  color: #ffff;
  border-color: #243142;
}

.dark .rc-pagination-next .rc-pagination-item-link {
  background-color: #243142;
  color: #ffff;
  border-color: #243142;
}
.dark .rc-pagination-next:hover .rc-pagination-item-link {
  background-color: #243142;
  color: #ffff;
  border-color: #243142;
}

.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
  border: 1px solid #e2e8f0;
  text-align: center;
  border-radius: 3px;
}
